# Build-time environment variables
PUBLIC_SUPABASE_URL=<SUBSTITUTE_SUPABASE_URL>
PUBLIC_SUPABASE_ANON_KEY=<SUBSTITUTE_SUPABASE_ANON_KEY>

# Run-time environment variables
SUPABASE_SERVICE_ROLE_KEY=<SUBSTITUTE_SUPABASE_SERVICE_ROLE_KEY>
RESEND_API_KEY=<SUBSTITUTE_RESEND_API_KEY>