############
# To get a proper working configuration you should at least take a look at:
# - SUPABASE_PUBLIC_URL, API_EXTERNAL_URL should point to your supabase domain with correct http/https scheme
# - SMTP_* are required for auth mail sending
# - ADDITIONAL_REDIRECT_URLS, SITE_URL should point to application using supabase for authentication
#   They are used for redirecting after login/signup and gotrue will check them before sending emails
# - POSTGRES_PORT, POOLER_PROXY_PORT_TRANSACTION should be changed if you are already running other instances of supabase
#
# Supabase uses container names in part of its configuration so it is important to keep them
# This template generates a random prefix for the container names to avoid conflicts
# If you change it you will need to update routes in the vector.yml file in advanced->mounts section
############

# Example:
# CONTAINER_PREFIX=sems2-supabase-ehs2do-supabase
CONTAINER_PREFIX=<AUTO_GENERATED>

############
# Secrets
# YOU MUST CHANGE THESE BEFORE GOING INTO PRODUCTION
# https://supabase.com/docs/guides/self-hosting/docker#securing-your-services
# In this version of the template they are generated randomly by dokploy helpers
# so you do not need to change them manually
# Go to https://supabase.com/docs/guides/self-hosting for more information
############

# Example:
# SUPABASE_HOST=baas.sems2.app
# POSTGRES_PASSWORD=m9apppfaqcl2footuv3jvo46tm6q9wg6
# JWT_SECRET=1SWba8UKE4jSezYLBO67xgRcSuGNzXcZ6disFny9
# ANON_KEY=eyJhbGciOiJIUzI6NiIsInR6cCI7IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIfootWF0IjoxNzU2MzEwNDAwLCJleHAiOjE5MTQwNzY4MDB9.PGdj8y4s_67BYPh8iWz98PeXZwrk2x-OCDFDHxx-N_U
# SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR6dCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIfootXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NTYzMTA0MDAsImV4cCI6MTkxNDA3NjgwMH0.SYGp_wtv_tABywaDuJyXZ0Q9gayVhkPXqPqnPj6ZdbY
# DASHBOARD_USERNAME=sems
# DASHBOARD_PASSWORD=sems_2
# SECRET_KEY_BASE=uoi8treu3n9i6rg1j7sxkgwtjwakquj09sumanetskglx5brbrhxghb6q9pebfbe
# VAULT_ENC_KEY=6pkraoyofihfwycbsumanmawxe7igxxs
SUPABASE_HOST=<REPLACE_WITH_YOUR_SUPABASE_HOST>
POSTGRES_PASSWORD=<REPLACE_WITH_YOUR_POSTGRES_PASSWORD>
JWT_SECRET=<REPLACE_WITH_YOUR_JWT_SECRET>
ANON_KEY=<REPLACE_WITH_YOUR_ANON_KEY>
SERVICE_ROLE_KEY=<REPLACE_WITH_YOUR_SERVICE_ROLE_KEY>
DASHBOARD_USERNAME=<REPLACE_WITH_YOUR_DASHBOARD_USERNAME>
DASHBOARD_PASSWORD=<REPLACE_WITH_YOUR_DASHBOARD_PASSWORD>
SECRET_KEY_BASE=<REPLACE_WITH_YOUR_SECRET_KEY_BASE>
VAULT_ENC_KEY=<REPLACE_WITH_YOUR_VAULT_ENC_KEY>

# External Google Auth
# Example:
# EXTERNAL_GOOGLE_AUTH_ENABLED=true
# GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID_HERE
# GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET_HERE
# EXTERNAL_GOOGLE_REDIRECT_URI=http://baas.sems2.app/auth/v1/callback
EXTERNAL_GOOGLE_AUTH_ENABLED=true
GOOGLE_CLIENT_ID=<REPLACE_WITH_YOUR_GOOGLE_CLIENT_ID>
GOOGLE_CLIENT_SECRET=<REPLACE_WITH_YOUR_GOOGLE_CLIENT_SECRET>
EXTERNAL_GOOGLE_REDIRECT_URI=<REPLACE_WITH_YOUR_EXTERNAL_GOOGLE_REDIRECT_URI>

############
# Database - You can change these to any PostgreSQL database that has logical replication enabled.
############

POSTGRES_HOST=db
POSTGRES_DB=postgres
POSTGRES_PORT=5432
# default user is postgres


############
# Supavisor -- Database pooler
############
POOLER_PROXY_PORT_TRANSACTION=6543
POOLER_DEFAULT_POOL_SIZE=20
POOLER_MAX_CLIENT_CONN=100
# Example:
# POOLER_TENANT_ID=mists-sems2
POOLER_TENANT_ID=<REPLACE_WITH_YOUR_TENANT_ID>


############
# API Proxy - Configuration for the Kong Reverse proxy.
# Following ports should not be changed for a dokploy config unless you know what you are doing.
############

KONG_HTTP_PORT=8000
KONG_HTTPS_PORT=8443


############
# API - Configuration for PostgREST.
############

PGRST_DB_SCHEMAS=public,storage,graphql_public


############
# Auth - Configuration for the GoTrue authentication server.
############

## General
# Example:
# SITE_URL=https://sems2.app/*
# ADDITIONAL_REDIRECT_URLS=https://baas.sems2.app/*,http://localhost:3000/*,http://localhost:5173/*,https://sems2.app/*
# JWT_EXPIRY=3600
# DISABLE_SIGNUP=false
# API_EXTERNAL_URL=https://baas.sems2.app
SITE_URL=<REPLACE_WITH_YOUR_SITE_URL>
ADDITIONAL_REDIRECT_URLS=<REPLACE_WITH_YOUR_ADDITIONAL_REDIRECT_URLS>
JWT_EXPIRY=3600
DISABLE_SIGNUP=false
API_EXTERNAL_URL=<REPLACE_WITH_YOUR_API_EXTERNAL_URL>

## Mailer Config
MAILER_URLPATHS_CONFIRMATION="/auth/v1/verify"
MAILER_URLPATHS_INVITE="/auth/v1/verify"
MAILER_URLPATHS_RECOVERY="/auth/v1/verify"
MAILER_URLPATHS_EMAIL_CHANGE="/auth/v1/verify"

## Email auth
# Example:
# ENABLE_EMAIL_SIGNUP=true
# ENABLE_EMAIL_AUTOCONFIRM=false
# SMTP_ADMIN_EMAIL=send@sems2.app
# SMTP_HOST=smtp.resend.com
# SMTP_PORT=2587
# SMTP_USER=resend
# SMTP_PASS=re_aGegWJDq_GsymuW6qr7xGAY4EVY4jz3pP
# SMTP_SENDER_NAME=SEMS2
# ENABLE_ANONYMOUS_USERS=false
ENABLE_EMAIL_SIGNUP=true
ENABLE_EMAIL_AUTOCONFIRM=false
SMTP_ADMIN_EMAIL=<REPLACE_WITH_YOUR_ADMIN_EMAIL>
SMTP_HOST=<REPLACE_WITH_YOUR_SMTP_HOST>
SMTP_PORT=<REPLACE_WITH_YOUR_SMTP_PORT>
SMTP_USER=<REPLACE_WITH_YOUR_SMTP_USER>
SMTP_PASS=<REPLACE_WITH_YOUR_SMTP_PASS>
SMTP_SENDER_NAME=<REPLACE_WITH_YOUR_SENDER_NAME>
ENABLE_ANONYMOUS_USERS=false


## Phone auth
ENABLE_PHONE_SIGNUP=true
ENABLE_PHONE_AUTOCONFIRM=true


############
# Studio - Configuration for the Dashboard
############

# Example
# STUDIO_DEFAULT_ORGANIZATION=MISTS
# STUDIO_DEFAULT_PROJECT=SEMS2
STUDIO_DEFAULT_ORGANIZATION=<REPLACE_WITH_YOUR_DEFAULT_ORGANIZATION>
STUDIO_DEFAULT_PROJECT=<REPLACE_WITH_YOUR_DEFAULT_PROJECT>

STUDIO_PORT=3000
# replace if you intend to use Studio outside of localhost
# Example: 
# SUPABASE_PUBLIC_URL=https://baas.sems2.app
SUPABASE_PUBLIC_URL=<REPLACE_WITH_SUPABASE_PUBLIC_URL>

# Enable webp support
IMGPROXY_ENABLE_WEBP_DETECTION=true

# Add your OpenAI API key to enable SQL Editor Assistant
OPENAI_API_KEY=


############
# Functions - Configuration for Functions
############
# NOTE: VERIFY_JWT applies to all functions. Per-function VERIFY_JWT is not supported yet.
FUNCTIONS_VERIFY_JWT=false


############
# Logs - Configuration for Logflare
# Please refer to https://supabase.com/docs/reference/self-hosting-analytics/introduction
############

LOGFLARE_LOGGER_BACKEND_API_KEY=your-super-secret-and-long-logflare-key

# Change vector.toml sinks to reflect this change
LOGFLARE_API_KEY=<REPLACE_WITH_LOGFLARE_API_KEY>

# Docker socket location - this value will differ depending on your OS
DOCKER_SOCKET_LOCATION=/var/run/docker.sock

# Google Cloud Project details
GOOGLE_PROJECT_ID=GOOGLE_PROJECT_ID
GOOGLE_PROJECT_NUMBER=GOOGLE_PROJECT_NUMBER
